.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  font-size: 10px;
}
 
.custom-menu .ant-menu-item-selected {
  background-color: #1890ff;
  color: #fff;
}
 
.menu-item-text {
  font-size: 10px;
}
 
.menu-item {
  margin-bottom: 10px;
}