   .settlement-tabs-container {
    margin: 20px;
  }
  
  .steps-content {
    margin-top: 20px;
  }
  
  .steps-action {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .next-submit-button {
    margin-left: 8px;
  }
  