/* src/career/Career.css */
.career-container {
    padding: 0;
    margin: 0;  
    margin-top: 200px;
    height: 100vh;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.main {
    margin-top: 90px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px #7f4f24;
}

.details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mt-auto {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.apply-button {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: medium;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    background-color: rgb(16, 16, 73); 
}

.apply-button:hover {
    background-color: #383886;
}

.gap-col {
    padding: 10px; 
}
