/* 
.card-perfamnce-dashboard {
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 60px;
  }
  
  .p-card {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .p-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px #913a3a;
}
  
  .p-icon {
    margin-left: 20px;
  }
  
  .p-icon img {
    width: 50px;
    height: 50px;
  }
  
  .p-content h2 {
    margin: 0;
    font-size: 2em;
  }
  
  .p-content p {
    margin: 0;
    color: #777;
  }
   */
   .card-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
    padding: 10px; 
  }
  
  .hr-home-card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; 
    text-align: center;
    transition: transform 0.2s;
    min-width: 70px; 
    min-height: 250px; 
    cursor: pointer;
  }
  
  .hr-home-card:hover {
    transform: translateY(-5px); 
  }
  
  .hr-home-card h3 {
    font-size: 22px; 
    margin-bottom: 60px; 
  }
  
  .hr-home-icon {
    width: 90px; 
    height: 90px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
  }
  