
.HRHome-blog-cards{
    background-color: white;
    height: max-content;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid black;
}

.HRHome-graph-calender{
    margin-top: 10px;
    background-color: white;
    height: max-content;
    justify-items: center;
    padding: 20px;
justify-content: space-between;    
display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 1px solid black;

}