.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  .form-container {
    background: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 300px;
  }
  